html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /*margin-bottom: 60px;
  background-color: #e3f2fd*/
    background-image: url('/images/BackgroundImg.jpeg');
    background-size: cover;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background-color: white;
    border-radius: 15px;
}
/* Custom Colors for Bootstrap Utility Classes */

/*BACKGROUND COLOURS*/
.bg-light {
    background-color: #e3f2fd !important;
}

.bg-dark {
    background-color: #05186b !important;
}

.bg-primary {
    background-color: #7bc5b5 !important;
}

.bg-secondary {
    background-color: #e4a184 !important;
}

.bg-info {
    background-color: #b86567 !important;
}

.bg-success {
    background-color: #46c360 !important;
}

.bg-warning {
    background-color: #f8cf3d !important;
}

.bg-danger {
    background-color: #f82d4b !important;
}

/*TEXT COLOURS*/
.text-light {
    color: #e3f2fd !important;
}

.text-dark {
    color: #05186b !important;
}

.text-primary {
    color: #7bc5b5 !important;
}

.text-secondary {
    color: #e4a184 !important;
}

.text-info {
    color: #b86567 !important;
}

.text-success {
    color: #46c360 !important;
}

.text-warning {
    color: #f8cf3d !important;
}

.text-danger {
    color: #f82d4b !important;
}

/*BUTTON COLOURS*/
.btn-primary {
    background-color: #7bc5b5;
    border-color: #7bc5b5;
}
    .btn-primary:hover {
        background-color: #68afa3;
        border-color: #68afa3;
    }

.btn-secondary {
    background-color: #e4a184;
    border-color: #e4a184;
}
    .btn-secondary:hover {
        background-color: #d49275;
        border-color: #d49275;
    }

.btn-info {
    background-color: #b86567;
    border-color: #b86567;
}
    .btn-info:hover {
        background-color: #a85658; 
        border-color: #a85658;
    }

.btn-danger {
    background-color: #f82d4b;
    border-color: #f82d4b;
}
    .btn-danger:hover {
        background-color: #e02641;
        border-color: #e02641;
    }

.btn-success {
    background-color: #46c360;
    border-color: #46c360;
}
    .btn-success:hover {
        background-color: #3db454;
        border-color: #3db454;
    }

/*ALERT COLOURS*/
.alert-success {
    background-color: #46c360;
    color: #fff; 
    border-color: #3db454; 
}

.alert-danger {
    background-color: #f82d4b;
    color: #fff;
    border-color: #e02641;
}

.alert-warning {
    background-color: #b86567;
    color: #492728;
    border-color: #e3ba37;
}

.alert-info {
    background-color: #b86567;
    color: #fff;
    border-color: #a85658;
}